@import url('https://fonts.googleapis.com/css?family=Lemon|Kavoon|Gorditas');
h1{
	font-family: 'Lemon', cursive;
	color:white;
	text-shadow:1px 1px 3px black;
	letter-spacing: 5px;
	font-size: 10vw;
	text-align: center;
 	position: relative;
	top: 50%;
	transform: translateY(0%);
}
h2{
	font-family: 'Kavoon', cursive;
	color:white;
	text-shadow:1px 1px 3px black;
	font-size: 5vw;
	text-align: center;
}
h3{
	font-family: 'Gorditas', cursive;
	color:white;
	text-shadow: 1px 1px 3px black;
	font-size: 2vw;
}
.option{

}
#game-container{
	display:none;
}
#menu-container{

}
.selectable:hover{
	color:lightgray;
}